* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	display: block;
	background-color: rgba(25, 15, 21, 0.2);
}



#header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 80px;
	width: 100%;
	background-color: rgba(1.8, 0.5, 1.2, 0.9);
	color: rgb(255, 255, 255);
	padding: 0px 30px;
	position: fixed;
	box-sizing: border-box;
	z-index: 50;
}

.logo {
	width: 80px;
	height: 80px;
}

#header-img {
	width: 70px;
	padding: 5px;
}

h1 {
	width: 100%;
}

nav {
	font-weight: 400;
}

#nav-bar {
	width: 500px;
	display: flex;
	justify-content: inherit;
}

a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 195px;
	margin-top: 0px;
	padding-top: 50px;
}

.form h2 {
	align-items: center;
	font-size: 1.8em;
	justify-content: center;
    height: 30px;
    width: 500px;
	padding-top: 50px;
	padding-bottom: 50px;

}

#email {
	width: 280px;
	height: 25px;
	-webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-image: initial;
}

#submit {
	max-width: 150px;
	width: 100%;
	height: 30px;
	margin: 15px 0;
	background-color: rgba(1.8, 0.5, 1.2, 0.9);
	color: white;
	font-family: Arial;
	font-size: large;
}

.box {
	width: 90%;
	max-width: 1000px;
	margin: 50px auto 40px auto;
	display: block;
	/*grid-gap: 30px;*/
}

#tienda {
	margin-top: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 990px;
}

.item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: calc(100% / 3);
	margin: 10px;
	border: 1px solid #000;
	border-radius: 3px;
	background-color:  rgba(1.8, 0.5, 1.2, 0.9);
	padding-bottom: 5px;
}

figure {
	display: block;
	padding: 5px;
}

.products {
	width: 280px;
	height: 178px;
}

.info h3 {
	display: block;
	font-size: 1.17em;
	text-align: center;
	padding: 5px 0px 5px 0px;
	background-color: rgba(255, 255, 255);
}

.info h2 {
	font-family: Arial;
	text-align: center;
	color: rgba(255, 255, 255);
	padding: 5px 0px 5px 0px;
}

.info p {
	text-align: left;
	font-family: -webkit-pictograph;
	background-color: rgba(255, 255, 255);
	padding-left: 10px;
}

.info ol li {
	text-align: -webkit-left;
	padding: 5px 5px 5px 20px;
	list-style: none;
	background-color: rgba(1.8, 0.5, 1.2, 0.9);
	color: rgba(255, 255, 255);
}

.btn {
	width: 150px;
	height: 34px;
	text-transform: uppercase;
	background: transparent;
	cursor: pointer;
}

.info > button {
	background-color: rgba(255, 255, 255);
	font-weight: 400;
}

#demostración {
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

#formas-de-pago h2 {
	text-align: center;
}

#formas-de-pago ol li {
	list-style: none;
}

footer {
	height: 70px;
	background-color: rgba(1.8, 0.5, 1.2, 0.9);
	display: block;
	justify-content: center;
	align-items: center;
	padding: 10px 20px 15px 10px;
	margin: 0px 100px 0 100px;
}

footer ul {
	display: flex;
	justify-content: flex-end;

}

 footer ul li {
	display: list-item;
	list-style: none;
	padding: 5px 10px 5px 10px;
}

footer span {
	margin-top: 5px;
	display: flex;
	justify-content: flex-end;
	font-size: 1em;
	color:  rgb(255, 255, 255);
}

@media (max-width: 	768px){
	nav {
		flex-direction: column;
		text-align: right;
		padding: 10px 25px 10px 35px;
	}

	#header-img {
		width: 75px;
		padding: 7px 5px 5px 4px;
	}

	.form h2 {
		font-size: 1.6em;
		width: 700px;
		padding-top: 60px;
		padding-bottom: 40px;
	}

	#email {
		width: 208px;
	}

	#tienda {
		max-width: 100%;
		height: 1615px;
		flex-direction:  column;
		align-items: center;
	}

	.products {
		width: 178px;
    	height: 144px;
	}

	#demostración {
		padding: 0 5px;
		margin: 40px 10px 10px 10px;
	}

	footer {
		margin: 0px;
	}
}